// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Font-Awesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

// Standard CSS
@import "../css/app";


body {
    $background-color: whitesmoke;
    background-color: $background-color;
    background-image: linear-gradient(315deg, $background-color 0%, #eaf2fd 74%);
}

nav, footer {
    background-color: #457b9d;
}

.navbar-nav > li > .dropdown-menu {
    background-color: #2e5f80;
}

.navbar-nav > li > .dropdown-menu > li > .dropdown-item:active,
.navbar-nav > li > .dropdown-menu > li > form > .dropdown-item:active, {
    background-color: #457b9d;
}

.navbar-nav > li > .dropdown-menu > li > .dropdown-item.active {
    background-color: #2e5f80;
}


.banner-gradient {
    $start-color: #243f65;
    background: $start-color;
    background: -webkit-linear-gradient(to right, $start-color, #457b9d, #a8dadc);
    background: linear-gradient(to right, $start-color, #457b9d, #a8dadc);
}

.product-card:hover {
    transform: scale(1.01);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    z-index: 1;
}

.z-index-1 {
    z-index: 1;
}

.underline-on-hover:hover {
    text-decoration: underline !important;
}

.no-clicked-border:focus,
.no-clicked-border:active {
    outline: none;
    box-shadow: none;
}

.pointer-events-none {
    pointer-events: none;
}

.w-fit-content {
    width: fit-content;
}
