body {
    /*background-color: #ffffff;*/
    /*background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);*/
    background-color: floralwhite;
    background-image: linear-gradient(315deg, floralwhite 0%, #e8dbfc 74%);
}

nav, footer {
    background-color: #7209b7 !important;
}

.navbar-nav > li > .dropdown-menu {
    background-color: #5e0cbe;
}

.navbar-nav > li > .dropdown-menu > li > .dropdown-item:active,
.navbar-nav > li > .dropdown-menu > li > form > .dropdown-item:active {
    background-color: #7b1bea;
}
